@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main-nav .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
}

#main-nav .navbar img{
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    /* padding-left: 10px; */
}

#main-nav .navbar .main-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    /* font-family: sans-serif; */
    
    /* margin-top: 10px; */
    
}

#main-nav .navbar .main-content ul a:hover{
        color: orangered;
}

#main-nav .navbar .main-content ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#main-nav .navbar .search input{
    height: 35px;
    width: 500px;
    border-radius: 10px;
    /* margin-top: 10px; */
}


#main-nav .navbar .search a{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
#main-nav .navbar .login-page{
    color: black;
}

#main-nav .navbar .login-page a{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 700;
    /* font-size: 20px; */
}

#main-nav .navbar .login-page a:hover{
    color: orangered;
    background-color: transparent;
    font-size: 18px;
}

#main-nav .navbar .icon a {
    color: black;
    font-size: 20px;
}

#main-nav .navbar .icon a:hover{
    color:orangered;
    background: transparent;
}

#img{
    padding-top: 20px;
}

#img .main-content_2{
    background: url(/bg-11.jpg) center center/cover;
    margin: 0 0 100px;
    font-size: calc(var(--font-size-body,14px) + 6px);
    padding: 100px 0 105px;
    background-position: 50%;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

#img .main-content_2 > h1{
    color: white;
    font-size: 40px;
    font-weight: 900;

}



#map .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    
}

/* #text .main-text .main-content_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    flex-direction: row;
}

#text .main-text .main-content_2 input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
   
}




#text .main-text .main-content_3 input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
} */

#text{
    padding-top: 30px;
}

#text .main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

#text .main-text .main-content_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#text .main-text .main-content_2 input {
    height: 40px;
    border-radius: 5px;
    width: 380px;
    
}

#text .main-text .main-content_3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#text .main-text .main-content_3 input {
    height: 40px;
    border-radius: 5px;
    width: 380px;
  
}

#msg .main-content_4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
} 

#msg .main-content_4 textarea{
    width: 50%;
    max-height: 450px;
    padding: 20px;
    border: 0;
    font-weight: 400;
    margin-bottom: 45px;
    background: #f6f6f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
} 


#text .main-text .main-content_2 label{
        font-size: 20px;
        font-weight: 400;
        
}


#text .main-text .main-content_3 label{
    font-size: 20px;
    font-weight: 400;
    
}

#msg .box label{
    display: flex;
    justify-content: center;
    font-size: 30px;
    /* font-weight: 500; */
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
}

#text{
    padding-top: 30px;
}


#text h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#text2 .main-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#text2 .main-text2 a{
    text-decoration: none;
    list-style: none;
    background-color: orangered;
    padding: 10px;
    color: black;
    font-weight: 800;
    border-radius: 5px;
    
    
}



#footer{
    padding-top: 80px;
    
}

#footer .footer_5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    background-color: darkgreen;
    /* height: 350px; */
    
}

#footer .footer_5 .footer_1 .footer_2 img{
    height: 50px;
    /* width: 80px; */
}

#footer .footer_5 .footer_1 .footer_3 {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#footer .footer_5 .footer_1 .footer_3{
        display: flex;
        flex-direction: column;
}




#footer .footer_5 .footer_4 .footer_3 a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}


#footer .footer_5 .footer_8{
    display: flex;
    flex-direction: column;
}

#footer .footer_5 .footer_8 .footer_3 a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}



#footer .footer_5 .footer_10{
    display: flex;
    flex-direction: column;
}

#footer .footer_5 .footer_10 >h3{
    color: white;
}

#footer .footer_5 .footer_10 >h4{
    color: white;
    font-size: 20px;
}

#footer .footer_5 .footer_10 .footer_13{
    padding-bottom: 20px;
}

#footer .footer_5 .footer_10 .footer_13>button:hover{
    cursor: pointer;
    font-weight: 500;
    color: black;
}

#footer .footer_5 .footer_10 .footer_13 >input{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

#footer .footer_5 .footer_4 .footer_2 >h1{
        color: white;
}

#footer .footer_5 .footer_8 .footer_2 >h1{
    color: white;
}

#footer .footer_5 .footer_10 .footer_13>button{
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
}

.checkbtn{
    font-size: 25px;
    display: none;
}

#check{
    display: none;
}


@media screen and (max-width:768px) {
    #footer .footer_5{
        flex-direction: column;
    }

    #text .main-text{
        display: flex;
        flex-direction: column;
    }

    

.checkbtn i{
    display: block;
}


#main-nav label{
    display: block;
}

#main-nav .navbar .main-content ul{
    position: fixed;
    display: block;
    top: 80px;
    text-align: center;
    left: -100px;
    background-color: rgb(25, 25, 24);
    height: 20%;
    width: 50%;
    flex-direction: column;
    display: none;
    width: 200px;
    background-color: black;
    color: black;
    z-index: 200;
}

#check:checked ~ #main-nav .navbar .main-content ul{
    left: 0%;
    display: block;
}


#main-nav .navbar .main-content ul li{
    margin: 20px;
}

#main-nav .navbar .main-content ul li a{
    color: white;
}

.checkbtn{
    display: block;
    padding-right: 20px
}

#main-nav .navbar .search{
    display: none;
}
}